.project-container{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}
.odd .project{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.even .project{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.photo-proj img {
    width: 530px;
    height: 397.73px;
    object-fit: cover;
}
.text-proj{
    width: 530px;
    height: 397.73px;
}
.subtext{
    color: #71717A;
    font-size: large;
}

.h2-container{
    margin-bottom: 50px;
}

.link{
    color: white;
}