.square-button {
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
}

.square-button:hover {
    background-color: #333; /* Darken color on hover */
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    color: white !important;
    background-color: black !important;

    min-width: 50px !important;
}

.button_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.3);
}
