.skills-container{
    height: 100%;
    width: 100% !important;
    margin-bottom: 30px;

}
.first-row{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
}

.second-row{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
}

.h2-container{
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.skills{
    height: 100%;
    margin-bottom: 30px;
}