.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* overflow-x: hidden; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'Sora';
  src: url('./Assets/Sora/static/Sora-Regular.ttf');
  font-weight:400;
  font-style:oblique;
}

body {
  
  font-family: 'Sora', serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @media only screen and (max-width: 500px)  {
  .App-header{
    margin: 40px;
  }
} */
