@font-face {
  font-family: 'Sora';
  src: url('./Assets/Sora/static/Sora-Regular.ttf');
  font-weight:400;
  font-style:oblique;
}


body {
  margin: 0;
  font-family: 'Sora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Sora', serif;
}
